/* .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 400px auto;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
} */

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.header, .footer {
    grid-column-start: 1;
    grid-column-end: 5;
}

.section {
    grid-column-start: 1;
    grid-column-end: 4;
}

