body {
    background-color: darkgray;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background-color: deepskyblue;
    background-image: url(imagen1.png);
}


.nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
}

.nav a:hover {
    background-color: dodgerblue;
}

@media all and (max-width: 800px) {
    .nav {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .nav {
        flex-flow: column wrap;
        padding: 0;
    }

    .nav a {
        text-align: center;
        padding: 5px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}